.dropdown-toggle{
  color:var(--main-color-text);
  font-size: 1.2em;
  font-family: 'Roboto';
}

#map-nav{
  background-color: var(--sidebar-color);
  border-bottom: 1px rgba(255, 255, 255, 0.191) solid;
}

.titlecase{
  text-transform: capitalize;
}