nav{
    background-color: var(--sidebar-color);
}

.navbar-brand{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#profile-image{
    clip-path: circle();
    height: 2.5em;
    width: 2.5em;
}

#signin-btn,
#signin-btn:hover,
#explore-btn,
#explore-btn:hover {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}