#create-map gmp-map-3d {
    width: 100vw;
    height: 40vh;
}

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
  }

th, td, tr{
  background-color: var(--sidebar-color) !important;
  border-color: var(--scrollbar-thumb) !important;
  color: white !important;
}

table{
  table-layout: fixed;
}

#create-form{
  overflow: hidden;
}

label{
  color: white;
}

#landmark-image{
  color: white;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  #create-btn{
    background-color: var(--scrollbar-thumb);
  }