#map gmp-map-3d {
    width: 100vw;
    height: 50vh;
}

#info {
    background-color: var(--sidebar-color);
    border-radius: .2em;
    height: 33vh;
}

#info img {
    height: 10em;
    width: 10em;
    object-fit: cover;
    margin: 1em;
    border-radius: .25em;
}

#info .text {
    color: var(--sidebar-color-text);
}

#description {
    color: var(--sidebar-color-text);
    overflow-y: scroll;
    scrollbar-color: var(--sidebar-color-text) var(--sidebar-color);
}

#description .title {
    color: var(--sidebar-color-text);
    font-weight: bold;
    font-size: 1.5em;
}

#bio {
    border-left: 1px rgba(255, 255, 255, 0.191) solid;
    color: var(--sidebar-color-text);
}

#bio a {
    color: var(--sidebar-color-text);
}

#nav-overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(53, 53, 53, 0.504);
    margin: auto;
    color: white;
    overflow: hidden;
    z-index: 1;
}

#profile-image{
    clip-path: circle();
    height: 4em;
    width: 4em;
}