:root {
  --sidebar-color-text: #ffffff8a;
  --sidebar-color: #29334e;
  --info-color: #3d294e88;
  --body-color: #29334eac;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,
body {
  background-color: var(--body-color);
  font-family: 'Roboto';
  height: 100vh;
  width: 100vw;
}

.vAygCK-api-load-alpha-banner {
  visibility: hidden;
}