:root {
  --sidebar-color-text: #ffffff;
  --sidebar-color: #29334e;
  --scrollbar-thumb:#ffffff86;
  --bg-color:#29334eaa;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,
body {
  background-color: var(--bg-color);
  font-family: 'Roboto';
  height: 100%;
}

.vAygCK-api-load-alpha-banner {
  visibility: hidden;
}