:root {
  --sidebar-color-text: #ffffff;
  --sidebar-color: #29334e;
  --info-color: #3d294e88;
  --scrollbar-thumb:#ffffff86;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,
body {
  background-color: var(--sidebar-color);
  font-family: 'Roboto';
  height: 100%;
}

.vAygCK-api-load-alpha-banner {
  visibility: hidden;
}