:root {
  --main-color-text: #ffffff;
  --main-color: #292c4e;
  --scrollbar-thumb:#ffffff86;
}

html{
  scrollbar-color: var(--scrollbar-thumb) var(--main-color);
}

body {
  min-height: 100vh;
  background-color: var(--main-color);
  overflow: hidden;

}
/* hide the development banner */
.vAygCK-api-load-alpha-banner {
  visibility: hidden;
}

/* tables use fixed layout */
table {
  table-layout: fixed;
}

td {
  align-content: center;
}

textarea{
  resize: none;
  border: 1px solid var(--main-color) !important;
  /* border-radius: 0 !important;  */
  outline: none !important;
  box-shadow: none !important;
}

.btn-close {
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(259deg) brightness(104%) contrast(101%);
}