:root {
  --main-color-text: #ffffff;
  --main-color: #292c4e;
  --scrollbar-thumb:#ffffff86;
}

html{
  scrollbar-color: var(--scrollbar-thumb) var(--main-color);
}

body {
  min-height: 100vh;
  background-color: var(--main-color); 

}
/* hide the development banner */
.vAygCK-api-load-alpha-banner {
  visibility: hidden;
}

/* tables use fixed layout */
table {
  table-layout: fixed;
}
