#create-map gmp-map-3d {
  width: 100vw;
  height: 40vh;
}

#create-table th,
#create-table td,
#create-table tr {
  background-color: var(--sidebar-color) !important;
  border-color: var(--scrollbar-thumb) !important;
  color: white !important;
}

/* input[type="file"] {
  display: none;
} */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} 

#create-btn {
  background-color: var(--scrollbar-thumb);
  color: white;
}