.lm-my-landmark-img {
    width: 5em;
    height: 5em;
}

.my-landmark-btn {
    background-color: var(--main-color-text);
}

.modal-content{
    background-color: var(--main-color);
    color:white;
}

